.THIS {
    border: 1px solid #ddddde;
}

.THIS .alertcontent {
    padding: 25px;
}

.THIS .bangsymbol{
    min-width: 50px;
    width: 50px;
    background-color: #e7b538;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #FFFFFF;
    font-size: 24pt;
}
.THIS .circle {
    color: #FFFFFF;
    font-size: 24pt;
    /*
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: 2px solid white;    
    text-align: center;   
    justify-content: center;
    */
}
.THIS .customstyle{
    background-color: #cecccc;
    width: 200px;
}
.THIS .customstyle:hover{
    background-color: #b5b2b2;
    color: #000000;
}