.THIS h2 {
	margin:0px 0px 25px 0px;
    padding:0px;
    color:inherit;
    font-weight:300;
    line-height:1.1em;
    font-size: 24px;
}
.THIS .uppercase{
    text-transform:uppercase !important;
}
.THIS .bold {
    font-weight: bold;
}
.THIS .name {
    width: 50%;
    display: inline-block;
    color: #000;
    font-family: 'Montserrat','Gotham','Gotham SSm A','Gotham SSm B','Helvetica Neue',Calibri,Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 25px;
    text-transform: none;
}