@import url(http://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);

* {
	outline:none !important;
	-moz-outline: none !important;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

h1, h2 {
	font-weight:300;
}
h3 {
	
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
	color:#4D5157;
}
.uppr {
	text-transform:uppercase;	
}
.thick {
	font-weight:700;	
}
html, body {
	font-family: 'Lato', sans-serif;
	color:#5E6065;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #eceff1;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body  {
  padding-top: 75px;
}
.container .text-muted {
  margin: 20px 0;
}

.footer {
  padding-top:15px;
}

code {
  font-size: 80%;
}

/* Custom */
* {
	outline:none !important;
	-moz-outline: none !important;
}
.bot15 {
	margin-bottom:15px;	
}
.top15 {
	margin-top:15px;	
}
/* SPACE */
.space5 {
	display: block;
	height: 5px !important;
	clear: both;
}
.space10 {
	height: 10px !important;
	clear: both;
}
.space15 {
	height: 15px !important;
	clear: both;
}
.space20 {
	height: 20px !important;
	clear: both;
}
.space30 {
	height: 30px !important;
	clear: both;
}
.space35 {
	height: 35px !important;
	clear: both;
}
.space40 {
	height: 40px !important;
	clear: both;
}
.no-space {
	margin: 0px !important;
	padding: 0px !important;
}


.sortable .tile {
	border:1px solid #ccc;
	margin-bottom: 10px;
}

.tile:hover {
	border:1px solid #aaa;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.17);
-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.17);
box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.17);
}

.sortable .tile .row > div {
	padding-top:5px;
	padding-bottom:5px;
}
.tile .action-btn .btn-link:first-child {
	padding-left: 0;
}

.action-btn {
	text-align: right;
}
@media (max-width: 767px) {
	.action-btn {
		text-align: left;
	}	
}

.placeholder {
    border: 1px dashed #ccc !important;
    background-color: #ffff99;
    height: 46px;
}

.heading {
	background:#eceff1;
	font-weight:bold;
	border-bottom:2px solid #cfd8dc;
	padding:8px 0px;
	margin:0px;
}
.heading > .row > div:first-child {
	padding-left:30px;
}
.heading > .row > div:last-child {
	padding-right:30px;
}



.table-responsive {
	overflow-y:hidden;
}

.add-lead.collapse .row, 
.edit-lead.collapse .row {
	background:#eceff1;
	padding-top:15px;
	margin-bottom:15px;
}

.col-tm-status {
	text-align:right;	
}
.col-tm-status > span {
	margin-left:10px;
}
@media (max-width: 767px) {
	.col-tm-status {
		text-align:left;
	}	
	.col-tm-status > span {
		float:left;
		margin-top:10px;	
		margin-right:10px;
		margin-left:0px;
	}
}

.label.label-outline {
	border:1px solid #aaa;
	color:#5E6065;
}
.label-lg {
  	font-size: 14px;
}

.displaynone {
	display:none;	
}

.row-input > div {
	margin-bottom:5px;
}
.row-input {
	background:#eceff1;
	padding:10px 0px 5px 0px;
}

.table-condensed tr th, .table-condensed tr td {
	
}

.bootstrap-switch-label {
	white-space: nowrap;	
}

/* Buttons */
.btn {
	text-transform: uppercase;
	font-weight: bold;
}
.btn > i, .btn > i:hover, .btn > i:focus { color: rgba(0,0,0,0.4); }
.btn-primary, .btn-primary:hover, .btn-primary:focus,
.btn-black, .btn-black:hover, .btn-black:focus,
.btn-green, .btn-green:hover,  .btn-green:focus,
.btn-red, .btn-red:hover,  .btn-red:focus,
.btn-yellow, .btn-yellow:hover,  .btn-yellow:focus,
.btn-orange, .btn-orange:hover,  .btn-orange:focus,
.btn-violet, .btn-violet:hover,  .btn-violet:focus,
.btn-blue, .btn-blue:hover,  .btn-blue:focus,
.btn-default, .btn-default:hover,  .btn-default:focus, 
.btn-success, .btn-danger, .btn-warning, .btn-info  { color: #fff; }

.btn-blue{ background-color: #25b5f1; }
.btn-green { background-color: #add71c; }
.btn-red { background-color: #f65757; }
.btn-yellow { background-color: #fbce43; }
.btn-orange { background-color: #f78f1e; }
.btn-violet { background-color: #816ae6; }
.btn-black { background-color: #000; }
.btn-blue:hover, .btn-blue:focus { background-color: #07a2e2; }
.btn-green:hover, .btn-green:focus { background-color: #92b80e; }
.btn-red:hover, .btn-red:focus { background-color: #de4131; }
.btn-yellow:hover, .btn-yellow:focus { background-color: #e6b623; }
.btn-orange:hover, .btn-orange:focus { background-color: #e77f0e; }
.btn-violet:hover, .btn-violet:focus { background-color: #684ce0; }
.btn-black:hover, .btn-black:focus { background-color: #333; }
.btn-default { border: 1px solid rgba(0,0,0,0.1); background: #a5b0b1; }
.btn-default:hover, .btn-default:focus { border: 1px solid rgba(0,0,0,0.2); background: #91a5a6; }



.form-control {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.form-control:focus {
	border-color: #ccc;
	outline: 0px none;
	-webkit-box-shadow: 3px 3px 30px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 3px 3px 30px 0px rgba(0,0,0,0.15);
	box-shadow: 3px 3px 30px 0px rgba(0,0,0,0.15);
}

/* Navbar */
.wcs .navbar-fixed-top {
	background-color: #fff;
	box-shadow: 0 2px 3px 2px rgba(0,0,0,.03);
}
.wcs .navbar-brand img {
	height:32px;
	margin-top:-5px;
}
.wcs .navbar-text {
	padding-right:5px;
}
.wcs .navbar-text a.navbar-link {
	font-weight: bold;
	color:#3a3a3a;
}

.wcs .navbar-collapse.collapse.in {
	-webkit-box-shadow: 3px 3px 30px 0px rgba(50,162,252,0.5);
	-moz-box-shadow: 3px 3px 30px 0px rgba(50,162,252,0.5);
	box-shadow: 3px 3px 30px 0px rgba(50,162,252,0.5);
}